---
import ProjectCard from "./ProjectCard.astro";
import projects from "../utils/projects.json";
---

<section
	class="w-full min-w-[var(--responsive-min-device)] max-w-[var(--responsive-max-device)]"
>
	<div class="flex flex-col justify-center gap-4" id="projects">
		<h2 class="text-[#F8F9FA] text-2xl tablet:text-4xl">Featured projects</h2>

		<div class="w-full overflow-x-auto pb-3">
			<div class="flex flex-nowrap gap-4">
				<!-- description={item.description} -->
				{
					projects.map((item) => (
						<ProjectCard
							image={item.image}
							status={item.status}
							name={item.name}
							repo={item.repo}
							web={item.web}
						/>
					))
				}
			</div>
		</div>
	</div>
</section>
