---
const { image, name, status, description, repo, web } = Astro.props;
---

<div
	class="bg-[#2B2D42] min-w-72 w-72 min-h-[32rem] flex flex-col rounded-2xl overflow-hidden"
>
	<img src={image} alt="" class="rounded-t-2xl object-cover h-48 w-full" />

	<div class="flex flex-col flex-1 p-4 gap-2">
		<p class="text-[#F8F9FA] text-2xl font-semibold">{name}</p>

		<span
			class="bg-[#393B52] text-[#FFC107] text-sm w-fit rounded-full px-3 py-1"
		>
			{status}
		</span>

		<p class="text-[#ADB5BD] text-base flex-1 text-pretty">{description}</p>

		<div class="flex justify-center gap-4">
			{
				repo && (
					<a
						href={repo}
						target="_blank"
						rel="noopener noreferrer"
						class="text-[#F1C40F] bg-[#393B52] px-4 py-2 rounded-xl"
					>
						<i class={`fa-brands fa-github text-2xl`} />
					</a>
				)
			}
			{
				web && (
					<a
						href={web}
						target="_blank"
						rel="noopener noreferrer"
						class="text-[#F1C40F] bg-[#393B52] px-4 py-2 rounded-xl"
					>
						<i class="fa-solid fa-globe text-2xl" />
					</a>
				)
			}
		</div>
	</div>
</div>
