---
import { Image } from "astro:assets";

const { image, name, status, repo, web } = Astro.props;
---

<div
	class="bg-[#2B2D42] min-w-72 w-72 flex flex-col items-center rounded-2xl relative"
>
	<Image
		src={image}
		alt={`${name} preview`}
		class="rounded-t-2xl h-[195px] w-full aspect-3/2"
		width="288"
		height="195"
	/>

	<span
		class="bg-[#393B52] text-[#F1C40F] text-sm w-fit rounded-2xl px-3 py-1 absolute top-3 right-3"
	>
		{status}
	</span>

	<div class="flex flex-col items-center flex-1 p-4 gap-4">
		<p class="text-[#F8F9FA] text-2xl font-semibold">{name}</p>

		<!-- <p class="text-[#ADB5BD] text-base flex-1 text-pretty">{description}</p> -->

		<div class="flex justify-center gap-4">
			{
				repo && (
					<a
						href={repo}
						target="_blank"
						rel="noopener noreferrer"
						class="text-[#F1C40F] bg-[#393B52] px-4 py-2 rounded-xl"
						aria-labelledby={`${name} repository`}
						aria-label={`${name} repository`}
					>
						<i class={`fa-brands fa-github text-2xl`} />
					</a>
				)
			}
			{
				web && (
					<a
						href={web}
						target="_blank"
						rel="noopener noreferrer"
						class="text-[#F1C40F] bg-[#393B52] px-4 py-2 rounded-xl"
						aria-labelledby={`${name} website`}
						aria-label={`${name} website`}
					>
						<i class="fa-solid fa-globe text-2xl" />
					</a>
				)
			}
		</div>
	</div>
</div>
