---
import SkillIcon from "./SkillIcon.astro";
import astroindIcon from "/public/icons/astro.svg";
import bootstrapIcon from "/public/icons/bootstrap.svg";
import chakrauiIcon from "/public/icons/chakraui.svg";
import cssIcon from "/public/icons/css.svg";
import expressIcon from "/public/icons/express.svg";
import flaskIcon from "/public/icons/flask.svg";
import gitIcon from "/public/icons/git.svg";
import githubIcon from "/public/icons/github.svg";
import htmlIcon from "/public/icons/html.svg";
import mysqlIcon from "/public/icons/mysql.svg";
import nodejsIcon from "/public/icons/nodejs.svg";
import postgresqlIcon from "/public/icons/postgresql.svg";
import reactIcon from "/public/icons/react.svg";
import reduxIcon from "/public/icons/redux.svg";
import tailwindIcon from "/public/icons/tailwind.svg";
---

<div class="flex flex-col justify-center gap-4" id="skills">
	<h2 class="text-[#F8F9FA] text-2xl tablet:text-4xl text-start tablet:w-full">
		Skills
	</h2>

	<div
		class="flex justify-start items-center flex-wrap gap-2 tablet:px-0 w-full tablet:w-full tablet:justify-between desktop:justify-between"
	>
		<SkillIcon icon={reactIcon} iconName="React" loading="eager" />
		<SkillIcon icon={nodejsIcon} iconName="NodeJS" loading="eager" />
		<SkillIcon icon={expressIcon} iconName="Express" loading="eager" />
		<SkillIcon icon={astroindIcon} iconName="Astro" loading="eager" />
		<SkillIcon icon={gitIcon} iconName="Git" loading="lazy" />
		<SkillIcon icon={githubIcon} iconName="Github" loading="lazy" />
		<SkillIcon icon={bootstrapIcon} iconName="Bootstrap" loading="lazy" />
		<SkillIcon icon={chakrauiIcon} iconName="ChakraUI" loading="lazy" />
		<SkillIcon icon={tailwindIcon} iconName="Tailwind" loading="lazy" />
		<SkillIcon icon={cssIcon} iconName="CSS" loading="lazy" />
		<SkillIcon icon={flaskIcon} iconName="Flask" loading="lazy" />
		<SkillIcon icon={mysqlIcon} iconName="MySQL" loading="lazy" />
		<SkillIcon icon={postgresqlIcon} iconName="PostgreSQL" loading="lazy" />
		<SkillIcon icon={reduxIcon} iconName="Redux" loading="lazy" />
		<SkillIcon icon={htmlIcon} iconName="HTML" loading="lazy" />

		<span class="tablet:w-[23%] desktop:hidden"></span>
	</div>
</div>
