---
import { Image } from "astro:assets";
import socialMedia from "../utils/socialMedia.json";
const { size = "24", roundedSize = "full" } = Astro.props;
---

<ul class="flex items-center justify-center gap-4">
	{
		socialMedia.map((item) => {
			return (
				<li>
					<a
						href={item.href}
						target="_blank"
						rel="noopener noreferrer"
						class={`flex items-center justify-center p-3 rounded-${roundedSize}  bg-[#2B2D42] ${item.color}`}
						aria-labelledby={`${item.name}`}
						aria-label={`${item.name}`}
					>
						<Image
							loading="eager"
							src={"/icons/social-media/" + item.name + ".svg"}
							alt={`${item.name} icon`}
							width={size}
							height={size}
						/>
					</a>
				</li>
			);
		})
	}
</ul>
