---
import socialMedia from "../utils/socialMedia.json";
const { size = "2", roundedSize = "full" } = Astro.props;
---

<ul class="flex items-center justify-center gap-4">
	{
		socialMedia.map((item) => {
			return (
				<li>
					<a
						href={item.href}
						target="_blank"
						rel="noopener noreferrer"
						class={`flex items-center justify-center p-3 rounded-${roundedSize}  bg-[#2B2D42] ${item.color}`}
						aria-labelledby={`${item.name}`}
						aria-label={`${item.name}`}
					>
						<i class={`fa-brands ${item.icon} text-${size}xl`} />
					</a>
				</li>
			);
		})
	}
</ul>
