---
import { Image } from "astro:assets";
const { image, period, web, name, role } = Astro.props;
---

<div class="bg-[#2B2D42] min-w-72 w-72 flex flex-col items-center rounded-2xl">
	<Image
		src={image}
		alt={`${name} logo`}
		class="rounded-t-2xl object-scale-down h-[195px] w-full"
		width="290"
		height="195"
	/>

	<div class="flex flex-col items-center p-4 gap-4">
		<p class="text-[#F8F9FA] text-2xl font-semibold">{name}</p>

		<p class="text-[#ADB5BD] text-base flex-1 text-pretty">{role}</p>

		<span
			class="bg-[#393B52] text-[#FFC107] text-sm w-fit rounded-full px-3 py-1"
		>
			{period}
		</span>

		<div class="flex justify-center gap-4">
			{
				web && (
					<a
						href={web}
						target="_blank"
						rel="noopener noreferrer"
						class="text-[#F1C40F] bg-[#393B52] px-4 py-2 rounded-xl"
						aria-labelledby={`${name} website`}
						aria-label={`${name} website`}
					>
						<i class="fa-solid fa-globe text-2xl" />
					</a>
				)
			}
		</div>
	</div>
</div>
